<!-- หน้าแรกแสดงกลุ่มของกิจกรรฒทั้งหมด -->
<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>ประเภทกิจกรรม</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list>
      <!-- ลูปข้อมูลกลุ่มของกีฬา -->
      <ion-item *ngFor="let item of sportList" (click)="onClickActivity(item?.id)">
        <ion-avatar slot="start" class="image-icon">
          <img [src]="item?.image">
        </ion-avatar>
        <ion-label>
          <h2>{{item?.name}}</h2>
        </ion-label>
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>