<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ข้อมูลส่วนตัว</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="page-profile">
  
    <!-- <div style="text-align: center;">
      <img class="profile-image top-10px"
        src="http://www.brunningonline.net/simon/blog/archives/South%20Park%20Avatar.jpg">
    </div> -->
    
    <div style="text-align: center;">
      <img class="profile-image top-10px"
        src="{{userInfo?.imageProfile}}">
        <ion-button (click)="gotoPhoto()">แก้ไขข้อมูลส่วนตัว</ion-button >
    </div>
    <br>
    <div padding>
      <ion-label style="color:blue;">Email </ion-label> : {{userInfo?.email}}<br>
      <hr>
      <ion-label style="color:blue;">FullName</ion-label>  : {{userInfo?.fullName}}<br>
      <hr>
      <ion-label style="color:blue;">Phone</ion-label>  : {{userInfo?.phone}}<br>
      <hr>
      <ion-label style="color:blue;">Address</ion-label> : {{userInfo?.address}}<br>
      <!-- <hr> -->
    </div>
    
    <!-- <h4>{{userInfo?.fullName}}</h4>
    <h5>{{userInfo?.email}}</h5>
    <h5>{{userInfo?.phone}}</h5>
    <h5>{{userInfo?.address}}</h5>
    <h5>{{ '24'}} years old</h5> -->
    <!-- <ion-button (click)="gotoUserDetail()">Details</ion-button> -->
    <div style="text-align: center;">
      <ion-button (click)="logout()">Logout</ion-button>
    </div>

  
</ion-content>