.cc{
    display: flex;
    flex-flow: row wrap; /* This is where the magic happens!*/
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    // border: 2px solid black;
  
    // overflow: hidden;
    height: 50px;
    width: 100%;
}
.dd{
    font-size: 10px;
    margin-left: 5px;
}
.aa{
    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-top: 10px;
}
.rr{
    width: 10px;
    height: 10px;
    margin-left: 25px;
    margin-top: 10px;
}
.kk{
    font-size: 10px;
    margin-left: 15px;
}