<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>สร้างกิจกรรม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <ion-row>
    <ion-col *ngFor="let item of groupSport">
      <img class="cc" [src]="item?.image" alt="" />
      <label class="dd">{{ item?.name}}</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="football" class="aa" [value]="item?.id">
    </ion-col>
  </ion-row> -->

  <ion-item>
    <ion-label position="stacked">ชื่อกิจกรรม</ion-label>
    <ion-input type="text" [(ngModel)]="activity.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">สถานที่</ion-label>
    <ion-select placeholder="" [(ngModel)]="activity.Location">
      <ion-select-option value="ราชฯมงคล">ราชฯมงคล</ion-select-option>
      <ion-select-option value="ยูเพลส">ยูเพลส</ion-select-option>
      <ion-select-option value="ฟิตเนสหน้าซอยฯอีสฯ">ฟิตเนสหน้าซอยฯอีสฯ</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">เพศ</ion-label>
    <ion-select placeholder="" [(ngModel)]="activity.sex">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
      <ion-select-option value="LG/BT">LG/BT</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">MM DD YY</ion-label>
    <ion-datetime [(ngModel)]="activity.date" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">รายละเอียด</ion-label>
    <ion-input type="text" [(ngModel)]="activity.description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">ประเภทของกิจกรรม</ion-label>
    <ion-select multiple="true" [(ngModel)]="activity.type_activity">
      <ion-select-option value="ไม่มีค่าใช้จ่าย">ไม่มีค่าใช้จ่าย</ion-select-option>
      <ion-select-option value="มีค่าใช้จ่ายเรื่องค่าสนาม">มีค่าใช้จ่ายเรื่องค่าสนาม</ion-select-option>
      <ion-select-option value="มีอุปกรณ์">มีอุปกรณ์</ion-select-option>
      <ion-select-option value="มีศูนย์อาหารใกล้เคียง">มีศูนย์อาหารใกล้เคียง</ion-select-option>
      <ion-select-option value="มีที่จอดรถทุกประเภท">มีที่จอดรถทุกประเภท</ion-select-option>
      <ion-select-option value="มีสถานที่เช่าชุด/อุปกรณ์">มีสถานที่เช่าชุด/อุปกรณ์</ion-select-option>
      <ion-select-option value="มีห้องอาบน้ำ">มีห้องอาบน้ำ</ion-select-option>
    </ion-select>

  </ion-item>

  <!-- ต้องกลับมาแก้ไข  -->
  <ion-item>
      <ion-label position="stacked">จำนวนคนที่เข้าร่วมกิจกรรม</ion-label>
      <ion-input type="text" [(ngModel)]="activity.people"></ion-input>
    </ion-item>

  <ion-footer *ngIf="!activity.id">
      <ion-button expand="block" fill="outline" (click)="addActivity()">บันทึก</ion-button>  
  </ion-footer>

</ion-content>



<ion-footer *ngIf="activity.id">
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="danger" (click)="deleteActivity()">
        <ion-icon slot="start" name="trash">
          Deleted
        </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateActivity()">
        <ion-icon slot="start" name="save">
          Update
        </ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>