<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button defaultHref="tabActivity"></ion-button>
    </ion-buttons>
    <ion-title>สร้างกิจกรรม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col>
      <img class="cc"
        src="https://scontent.fbkk2-5.fna.fbcdn.net/v/t1.15752-9/71143833_2983490841679297_3807802946754707456_n.png?_nc_cat=110&_nc_eui2=AeHqrfD12OUDCC6TM_Wv30FB6PufBp7Ga5Zmj5nBdxrPJ5W_Ipf7rgtP_R3VGqQvwKVML0qrilkhuYXSI2cGiMiTx739OsLC85idjePNn37uzg&_nc_oc=AQmXOZhr26sLKYhnQXlmAi4x5GiUp_IEeELY4TbUa8EprHyPyHCjCH4jGQC05HFQ_oA&_nc_ht=scontent.fbkk2-5.fna&oh=cce31f09ca9cd824bd24a5fcc761995c&oe=5E276E76"
        alt="" />
      <label class="dd">ฟุตบอล</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="football" class="aa" value="01">
    </ion-col>
    <ion-col>
      <img class="cc"
        src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/71741792_444412523093791_4059466649953107968_n.png?_nc_cat=100&_nc_eui2=AeH2zNOiIXvglSSKvAqkZDvWQsDUH-hsE9KsrpX50MqatstSGRgKIDkSXbLSreXEKAVsG9yynr71araDznclx5UsBGXfKmP-J1Ll5jmXr1ZBLg&_nc_oc=AQl66b2gF5rsmiUVPv8DEBkMh2jXxPlwH0BusiMjjvi_VHWi9lxKZWQyocY0BsN9hwc&_nc_ht=scontent.fbkk2-8.fna&oh=f23232cd91c5d4175624411bedcc586d&oe=5DF293A3"
        alt="" />
      <label class="dd">บาสเกตบอล</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="basketball" class="rr" value="02">
    </ion-col>
    <ion-col>
      <img class="cc"
        src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.15752-9/71251975_779266892544808_2881135195405156352_n.png?_nc_cat=107&_nc_eui2=AeE0FbNWEs3slYp7UY1IybHdXlf_pQowyO3qqcV-J0a7YKJHEOIU6vUTR3DJ8Q5xSI9IbKiF3RVdzxl1X71XCSLgkbLOoyUnUUhVshhYryK4NQ&_nc_oc=AQnpkO7DAx0L26uvkNTCcvNpZAHNvbE2DwL9B61ikpfLeJPCmAzoSOIrsyqfY3LkWIA&_nc_ht=scontent.fbkk2-6.fna&oh=06087d51892be42ab59c7aa27c8a34cf&oe=5DFA9125"
        alt="" />
      <label class="dd">แบต</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="badminton" class="aa" value="03">
    </ion-col>
    <ion-col>
      <img class="cc"
        src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/71278041_1208819139302271_5883238140407185408_n.png?_nc_cat=103&_nc_eui2=AeGICbdwZw7nUBEAlufOXfIeKKBRo3pK5-rPMAZZEw2EztpEWwW8eV9MRi93-vu_ySDybz8rvxYAu3ZlM66TqBPhAiIMsLz_FAGRJ43UIRRzXw&_nc_oc=AQk96mtiGC7g_yjGBepmAg0zxSBoEI9k2E4nKhL7i6vmnYyJb1X08I8t78oVBIcxxpw&_nc_ht=scontent.fbkk2-8.fna&oh=bccafbfcbe35fd06a6fbc328a7992a79&oe=5DF8EE6E"
        alt="" />
      <label class="dd">ปิงปอง</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="Pingpong" class="aa" value="04">
    </ion-col>
    <ion-col>
      <img class="cc"
        src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/71693923_534953177262742_4910168606068703232_n.png?_nc_cat=105&_nc_eui2=AeHrLYPN_fubpsvY82dw7e4ySlvFPVnHnOHqgJstXiRL5MvmqFTIZlpmK8lchElMjls__EqB_lTEwVcbwFZfDCPe97XbOKYCaX5czP9H2P01nw&_nc_oc=AQn3yXjsMnHUH3AqRfL842WlAKKNpK0XVw0KTj49u1R5N3MwKluzIn2e2mPWl-Z9k_A&_nc_ht=scontent.fbkk2-8.fna&oh=ea40070bffb1dc3d19a326cef5683f34&oe=5E3088B7"
        alt="" />
      <label class="dd">ว่ายน้ำ</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="swimming" class="aa" value="05">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img class="cc"
        src="https://scontent.fbkk2-7.fna.fbcdn.net/v/t1.15752-9/71890791_548719855895499_4336468529894129664_n.png?_nc_cat=101&_nc_eui2=AeF1ZE4q0wetEuJ6gIyScFvjIq8HgsnBXl5bKDm-g1eXqBp63wTc97x0U6c-uOEc89lNhLSd1o851Dwfo7f8n-jMTvKZQ6mD8awUS1TQP-_xbw&_nc_oc=AQmtblMoWBBF69Z1e99LkuLxVw_Mr71I0bZRr13m79G6Nu8P0CcUPTeIL6OezMTzq2M&_nc_ht=scontent.fbkk2-7.fna&oh=49dbe646148d90fba6aee2f18d55eef2&oe=5E39860B"
        alt="" />
      <label class="dd">ฟุตซอล</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="Futsal" class="aa" value="06">
    </ion-col>
    <ion-col>
      <img class="cc"
        src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/71788589_2355704058077172_8345916557653704704_n.png?_nc_cat=102&_nc_eui2=AeH0VInEhhPCfkkSBH6xhCdQigYqXtw31a50ZCwnw-IuaYiZL4nnii6vMDsVDOPSZROMrQkSOxDZDggd4hBZxPiPqdADoap6FNDefgK5gBtV4g&_nc_oc=AQmfClbjiAS25zZ4ZeQh4j5gUf7Jr2QWcOdvMgJHw0zK-6dE-LIbfCtwXiKCVSb6WXQ&_nc_ht=scontent.fbkk2-8.fna&oh=04ca28a1e81f813e1b2a67f5a44686be&oe=5DFCEB46"
        alt="" />
      <label class="dd">วอลเลย์</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="volleyball" class="aa" value="07">
    </ion-col>
    <ion-col>
      <img class="cc"
        src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/70925031_2558044870976329_599752368539566080_n.png?_nc_cat=100&_nc_eui2=AeHMosk_gQ2lt_r-J2DcT6u2oB4DSbnZhG-B031Ci8l0JHXRoVjqCqdwRN5cbZq5yGtMHjm3vfLR79uuj6yumksNQBpHv_luiu4pF1TkeDDfTw&_nc_oc=AQmvJmcUD3yQOtolQhjNMLdiJLTAzdAM5tUpwUI-X3rMJv-koOPDP56OykOF_Bvkg-U&_nc_ht=scontent.fbkk2-8.fna&oh=a559b876e00265f555e82f8ba158873b&oe=5E2FAF41"
        alt="" />
      <label class="dd">เทเบิล</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="tabletennis" class="aa" value="08">
    </ion-col>
    <ion-col>
      <img class="cc"
        src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/71750925_702252883612094_6098577617261166592_n.png?_nc_cat=102&_nc_eui2=AeEaWvdJM5PL_a-56HxMbQaJUGe12nSoW4PanKAD4UOH0rP-R-x7LfVUTIIDjPrpf_nQQeqiH6V9ficiFBiQU9eMLsurPkM_hgm5AHmIeumDMw&_nc_oc=AQk7qVuslrsL0WnScuWNYt4JEmbZKh1SSeIc1ZWP7nqV1YW-Fo04hFBC2xHeWXvKdZk&_nc_ht=scontent.fbkk2-8.fna&oh=41748212f7f2773f386ac8a676cd5bf0&oe=5DF444AA"
        alt="" />
      <label class="dd">ฟิตเนส</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="Fitness" class="aa" value="09">
    </ion-col>
    <ion-col>
      <img class="cc"
        src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/71543911_722491568175915_1433397347370401792_n.png?_nc_cat=105&_nc_eui2=AeHbYVdT2scrWk_R8rwG9gg8p_8Vs2IzORikxjFcJRqPjDqyk3xVX2LIqQBESWecsrXKJ1R5WZ2b0tWt_6axivcG7waVrqHvT3TELinOtw-5RA&_nc_oc=AQkIl4Py8Sawn-cpGk3LIuaOOT_7i25bk4aPo3euxJl4YuD0VuaX7cn3kYaGx5s_Dec&_nc_ht=scontent.fbkk2-8.fna&oh=4de01622f50f518f3b6ed16bd7e042db&oe=5E331D70"
        alt="" />
      <label class="kk">วิ่ง</label>
      <input type="radio" [(ngModel)]="activity.type_sport" name="Run" class="aa" value="10">
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label position="stacked">ชื่อกิจกรรม</ion-label>
    <ion-input type="text" [(ngModel)]="activity.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">สถานที่</ion-label>
    <ion-select placeholder="" [(ngModel)]="activity.Location">
      <ion-select-option value="ราชฯมงคล">ราชฯมงคล</ion-select-option>
      <ion-select-option value="ยูเพลส">ยูเพลส</ion-select-option>
      <ion-select-option value="ฟิตเนสหน้าซอยฯอีสฯ">ฟิตเนสหน้าซอยฯอีสฯ</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">เพศ</ion-label>
    <ion-select placeholder="" [(ngModel)]="activity.sex">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
      <ion-select-option value="LG/BT">LG/BT</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">MM DD YY</ion-label>
    <ion-datetime [(ngModel)]="activity.datet" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">รายละเอียด</ion-label>
    <ion-input type="text" [(ngModel)]="activity.description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">ประเภทของกิจกรรม</ion-label>
    <ion-select multiple="true" [(ngModel)]="activity.type_activity">
      <ion-select-option value="ไม่มีค่าใช้จ่าย">ไม่มีค่าใช้จ่าย</ion-select-option>
      <ion-select-option value="มีค่าใช้จ่ายเรื่องค่าสนาม">มีค่าใช้จ่ายเรื่องค่าสนาม</ion-select-option>
      <ion-select-option value="มีอุปกรณ์">มีอุปกรณ์</ion-select-option>
      <ion-select-option value="มีศูนย์อาหารใกล้เคียง">มีศูนย์อาหารใกล้เคียง</ion-select-option>
      <ion-select-option value="มีที่จอดรถทุกประเภท">มีที่จอดรถทุกประเภท</ion-select-option>
      <ion-select-option value="มีสถานที่เช่าชุด/อุปกรณ์">มีสถานที่เช่าชุด/อุปกรณ์</ion-select-option>
      <ion-select-option value="มีห้องอาบน้ำ">มีห้องอาบน้ำ</ion-select-option>
    </ion-select>

  </ion-item>
</ion-content>

<ion-footer *ngIf="!activity.id">
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="addActivity()">
      <ion-icon slot="start" name="checkmark">Add Activity</ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="activity.id">
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="danger" (click)="deleteActivity()">
        <ion-icon slot="start" name="trash">
          Deleted
        </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateActivity()">
        <ion-icon slot="start" name="save">
          Update
        </ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>