<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabHome">
      <ion-icon name="home"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats">
      <ion-icon name="md-chatbubbles"></ion-icon>
      <ion-label>แชท</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabNotification">
      <ion-icon name="md-notifications"></ion-icon>
      <ion-label>แจ้งเตือน</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabMenu">
      <ion-icon name="menu"></ion-icon>
      <ion-label>เมนู</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>