<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>กิจกรรม {{ sportActive?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of (activity | async)">
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://hips.hearstapps.com/ghk.h-cdn.co/assets/18/01/1515005599-miniature-pinscher.jpg">
      </ion-avatar>
      <ion-label>{{ item?.name }}</ion-label>
      <ion-button fill="outline" slot="end">join</ion-button>
    </ion-item>

    <ion-card-content>
        <h2>{{ item?.Location }}</h2>
        <p>{{ item?.description }}</p>
        <p>{{ item?.datet }}</p>
    </ion-card-content>
    <ion-card-content>
        <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-icon name="chatboxes" (click)="clickJoinChat(item.id)"></ion-icon>
              </ion-col>
              <ion-col>
                  <ion-icon name="create"></ion-icon>
              </ion-col>
              <ion-col>
                  <ion-icon name="trash"></ion-icon>
              </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onCreateActivity()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>