<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>กิจกรรม {{ sportActive?.name }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (input)="searchActivity($event.target.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of activity">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="item?.userInfo?.imageProfile">
      </ion-avatar>
      <ion-label>{{item?.userInfo?.fullName}}</ion-label>
      <ion-button *ngIf="!item?.sold_out && !item?.joined" fill="outline" slot="end" (click)="clickJoinActivity(item)">
        join</ion-button>
      <ion-button *ngIf="item?.sold_out && !item?.joined" color="danger" slot="end">Sold Out</ion-button>
      <ion-button *ngIf="item?.joined" color="success" slot="end" (click)="clickUnJoinActivity(item)">Joined
      </ion-button>
    </ion-item>

    <ion-card-content>
      <h2> กิจกรรม: {{ item?.name }} </h2>
      <p> สถานที่: {{ item?.Location }} </p>
      <p class="cut-text"> รายละเอียด: {{ item?.description }}</p>
      <p> เวลา : {{item?.date | moment}}</p>  
      <p> เพศ : {{ item?.sex }}</p>
    </ion-card-content>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="btn-read-more-end">
              <ion-button color="secondary" size="small" (click)="onClickReadMore(item)">
                รายละเอียด
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" *ngIf="!item?.sold_out">
            <ion-icon style="float: left" name="chatboxes" (click)="clickJoinChat(item.id)"></ion-icon>
          </ion-col>
          <ion-col *ngIf="userInfo?.uid === item?.createBy">
            <ion-icon style="float: left" name="create" (click)="onClickEdit(item.id)"></ion-icon>
          </ion-col>
          <ion-col *ngIf="userInfo?.uid === item?.createBy">
            <ion-icon style="float: left" name="trash" (click)="deleteActivity(item)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onCreateActivity()">
    <ion-fab-button size ="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
