<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>รายงานผู้กระทำความผิด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let item of listUserReport" (click)="viewDetailUserReport(item?.userInfo?.uid)">
    <ion-avatar slot="start">
      <img [src]="item?.userInfo?.imageProfile">
    </ion-avatar>
    <ion-label>
      <h2>{{ item?.userInfo?.fullName }}</h2>
      <p>รายละเอียด...</p>
    </ion-label>
  </ion-item>
</ion-content>