.cc{
    display: flex;
    flex-flow: row wrap; /* This is where the magic happens!*/
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    // border: 2px solid black;
  
    // overflow: hidden;
    height: 50px;
    width: 100%;
}
.tt{
    font-size: 13px;
}
.im{
    height: 15px;
    width: 18%;
}
.imn{
    height: 20px;
    width: 50px;
}
.dd{
    font-size: 10px;
    margin-left: 5px;
}
.kk{
    font-size: 10px;
    margin-left: 15px;
}